body,
html,
h2 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8BBD0;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.fila {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.columna {
    border: 1px blue solid;
    float: left;
    /* margin-right: 2%; */
    padding: 0.9em 0;
    box-sizing: border-box;
}

.total .columna {
    width: 100%;
}

h2 {
    text-align: center;
}

.dos-columnas .columna {
    width: 49%;
}

.dos-columnas .columna:nth-child(2n) {
    margin-right: 0;
}

.tres-columnas .columna {
    width: 32%;
    margin-left: 1%;
}

.tres-columnas .columna:nth-child(3n) {
    margin-right: 0;
}

.cuatro-columnas .columna {
    width: 23.5%;
}

.cuatro-columnas .columna:nth-child(4n) {
    margin-right: 0;
}

.seis-columnas .columna {
    width: 15%;
}

.seis-columnas .columna:nth-child(6n) {
    margin-right: 0;
}

.doce-columnas .columna {
    width: 6.5%;
}

.doce-columnas .columna:nth-child(12n) {
    margin-right: 0;
}

.right-sidebar .sidebar,
.left-sidebar .sidebar {
    width: 23.5%;
}

.right-sidebar .content,
.left-sidebar .content {
    width: 74.5%;
}

.right-sidebar .sidebar {
    margin-right: 0;
}

.left-sidebar .content {
    margin-right: 0;
}