.menu-derecho {
    padding-left: 10em;
    background-color: #7188C8;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
    padding-bottom: 4%;
}

.dos-columnas {
    background-color: #7188C8;
}

header {
    margin: 0;
    padding: 0;
}

.menu-izquierdo {
    color: white;
}

.dos-columnas .menu-derecho {
    padding-top: 1.5em;
}

.image {
    max-width: 100%;
    padding: 0 !important;
}

.tres-columnas {
    padding-bottom: 3em;
}

.tres-columnas .columna {
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

.tres-columnas .columna .boton1 {
    float: left;
}

.columna .parrafo {
    padding-left: 5em;
    padding-right: 4em;
}

.columna {
    text-align: center;
}

.titulo {
    color: black;
    text-align: justify;
    padding-left: 3.5em;
    padding-top: 2em;
}

.infoContact,
p {
    text-align: justify;
    padding-bottom: 0.9em;
    padding-right: 2.5em;
    padding-top: 2em;
}

.pinfo2 {
    padding-top: 0em;
}

.columna .info {
    text-align: center;
    padding-bottom: 1em;
    justify-content: center;
}

.boton1 {
    background-color: #4B7BB3;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F5F1B3;
    font-weight: bolder;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 3px solid #93F082;
}

.lion {
    width: 100%;
    height: 40%;
    text-align: center;
    border: 1px #EEEEEE solid;
}

.footerU p {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #7188C8;
    padding: 3em;
    margin-bottom: 0;
    box-sizing: content-box;
}

.p11 {
    margin-left: 2em;
    padding: 2em;
    margin-left: 1em;
}

strong {
    color: #DE5959;
}

.iconoMenu {
    border: 1px #F5F5F5 solid;
    padding: 2%;
    border-radius: 10%;
}

.espacios {
    height: 2em;
    box-sizing: content-box;
    background-color: white;
}