.menu-derecho a {
    text-decoration: none;
    color: white;
    padding-left: 2em;
}

.menu-derecho {
    padding-right: 2em;
    padding-top: 1.5em;
}

.menu-derecho {
    text-align: right;
    background-color: #7678CA;
}

.menu {
    background-color: #7678CA;
}

.menu-izquierdo {
    background-color: #7678CA;
    float: left;
}

.imagenesCards,
.tresTitulos {
    text-align: center;
    /* border: 1px blue solid; */
}

.tresParrafos {
    text-align: justify;
}

.tresBotones a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: pink;
}

.tresBotones {
    text-align: center;
}

footer .fila {
    background-color: #7678CA;
    width: 100%;
    margin-top: 2em;
}

footer {
    color: white;
    text-align: center;
}

img[src="assets/images/Bg_usborne.png"] {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    width: 100%;
    margin-top: 0;
}

.fila .imagenBanner {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.info {
    height: 30em;
}

.borrar {
    display: none;
}

.info {
    border: 1px #90CAF9 solid;
}

.info .text {
    padding-left: 1em;
    padding-right: 1em;
}

.text {
    text-align: justify;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #FFA399;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    font-weight: bolder;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.box {
    /* border: 1px blue solid; */
}

.borde {
    /* border: 1px blue solid; */
}

.menu-derecho a {
    color: white;
}

.menu-derecho a:hover {
    color: white;
}

.menu-izquierdo:hover {
    color: #F9DA42;
    cursor: pointer;
}

.espacio {
    padding-left: 2em;
}

i {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.imagenesCards {
    width: 100%;
    padding: 0;
    margin: 0;
}

.textC {
    text-align: justify;
}

strong {
    color: #00A54F;
}

.menu-derecho .yellow:hover {
    color: #F8FF77;
}

.menu-derecho .pink:hover {
    color: #FD9992;
}

.menu-derecho .green:hover {
    color: #93F082;
}

.menu-derecho .blue:hover {
    color: #80C8E7;
}